<div class="container">
    <!-- <div class="container-fluid mt-3" *ngFor="let user of users">
        <div class="card border-danger border-2" >
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">{{user.firstName}} {{user.lastName}}</h5>
                <button type="button" (click)="activate(user)" class="btn btn-sm btn-success align-self-end">
                    Activate
                </button>
            </div>
        </div>
        <app-user [user]="user" [callBack]="activate" [btnName]="btnName"></app-user>
    </div> -->
    <app-user-list [users]="users" [callBack]="activate" [btnName]="btnName">
        
    </app-user-list>

</div>